#boaMain{
    color: steelblue;
    font-size: 18px;
    font-weight: bold;
    padding-right: 20px;
}

#hint {
    color: #a94dff;
    font-size: 11px;
    font-style: italic;
    font-weight: bold;
    padding-left: 20px;
}

#choose {
    color: darkcyan;
    font-weight: bold;
    padding-left: 30px;
    padding-right: 10px;
}

#custom-text {
    margin-left: 10px;
    font-family: sans-serif;
    color: #aaa;
}

line.link {
    fill: none;
    stroke: #9ecae1;
    stroke-width: 1.5px;
}

output {
    font-size: 90%;

}

#vis {
    width: 1260px;
    height: 1000px;
}

.node {
    cursor: pointer;
}

.node.leaf {
    cursor: default;
}

.btn-info {
    background-color: #66a3ff;
}

.node circle {
    fill: mediumslateblue;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.node.leaf circle {
    fill: #fff;
}

.node text {
    font-size: 12px;
    font-family: sans-serif;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}

.message {
    white-space: nowrap;
    color: blue;
}

.partition rect {
    cursor: pointer;
    fill: steelblue;
    stroke: #fff;
}

.partition text {
    pointer-events: none;
}

.partition.leaf rect {
    stroke: #eee;
    fill: #aaa;
}


